@import '../../variables.scss';

.screen {
    width: 68%;
    margin: 1em auto;
    background: $screen-back-off;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    border-radius: 5px;
    transition: .3s linear;
    position: relative;
    &--on {
        background: $screen-back-on;
    }
    &--off {
        background: $screen-back-off;
    }
    &__lseg {
        text-align: left;
        padding-bottom: 6em;
    }
    &__mseg {
        position: absolute;
        bottom: 10px;
        right: 25px;
        font-size: 3em;
        &--small {
            // font-size: 2em;
        }
        &--extra-small {
            font-size: 1.8em;
        }
    }
}
@media only screen and (max-width: 1400px) {
    .screen {
        &__mseg {
            &--extra-small {
                font-size: 1.3em;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .screen {
        &__mseg {
            &--small {
                font-size: 2em;
            }
        }
    }
}
@media only screen and (max-width: 840px) {
    .screen {
        &__mseg {
            &--extra-small {
                font-size: 1em;
            }
        }
    }
}
@media only screen and (max-width: 648px) {
    .screen {
        &__mseg {
            &--small {
                font-size: 1.5em;
            }
        }
    }
}