@import '../../variables.scss';

.key {
    background-color: $button;
    color: $button-text;
    text-align: center;
    align-self: center;
    font-size: 3em;
    border-radius: 5px;
    border: 1px solid $black;
    box-shadow: 0 0 2px $black;
    outline: none;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px $black;
    }
    &:active {
        box-shadow: 0 0 2px $black;
    }
}